.scramble-text {
  color: var(--color-text);
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-spacing: 0.3em;
}

.scramble-text.large {
  font-size: 2.5rem;
}

.scramble-text.medium {
  font-size: 1.5rem;
}

.scramble-text.small {
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .scramble-text.large {
    font-size: 2rem;
  }

  .scramble-text.medium {
    font-size: 1.25rem;
  }

  .scramble-text.small {
    font-size: 1rem;
  }
}

.scramble-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.scramble-text-wrap {
  flex: 1;
  min-width: 0;
}

@media (max-width: 768px) {
  .scramble-wrapper {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .scramble-text-wrap {
    width: 100%;
  }
}
