.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;  /* Space between title and buttons */
  color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
}

.title {
  font-size: 2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #a9aaac;
  margin: 2px;  /* Remove default margin */
  min-width: fit-content;  /* Prevent title from shrinking */
}

.header-logo {
  width: 32px;
  height: 32px;
  background-color: #ffffff0c;
  border-radius: 8px;
}

.header-logo:hover {
  background-color: #ffffff98;
}

.puzzle-buttons {
  display: flex;
  gap: 8px;
  padding: 4px 0
}

.puzzle-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.puzzle-button.active {
  background: #676c76;
  color: white;
}

.puzzle-select {
  color: #fff;
  display: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px;
  background-color: #2c323c;
  cursor: pointer;
}

.puzzle-select:hover {
  border-color: #5b5b5b;
}

.puzzle-select:focus {
  outline: none;
  border-color: #676c76;
}

/* Switch to dropdown on smaller screens */
@media (max-width: 1024px) {
  .puzzle-buttons {
    display: none;
  }

  .puzzle-select {
    display: block;
    padding: 8px;
    border-radius: 4px;
    margin-left: 1rem;
  }
}