/* Timer.css */
#timer {
  font-size: 4em;
  font-family: monospace;
  transition: color 0.2s ease;
}

#timer.ready {
  color: #3dc942; /* Green color when ready */
}

#timer.running {
  color: #F6685E; /* Red color when running */
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  color: #ddd;
}

button:hover {
  background-color: #2c323c;
  border-radius: 5px;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0,2);
}